[Unit]
Description=Run myapp.service every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=myapp.service

[Install]
WantedBy=timers.target
